<nav class="navbar navbar-expand-sm navbar-dark bg-black">
  <div class="container">
    <span class="navbar-brand">EFHMedia</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="collapseMenu" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <LinkTo @route="index" class="nav-link">Anasayfa</LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo @route="about" class="nav-link">Hakkımda</LinkTo>
        </li>
      </ul>
    </div>
  </div>
</nav>