{{page-title "404 Sayfa Bulunamadı - EFHMedia"}}

<div class="container space">
  <div class="row">
    <div class="col-md-12 text-center mx-auto">
      <h1>Oops!</h1>
      <h2>404 Bulunamadı</h2>
      <div class="error-details">
        Üzgünüm, bir hata oldu, İstediğin sayfayı bulamadım!
      </div>
      <div class="error-actions">
        <LinkTo @route="index" class="btn btn-primary btn-lg mr-2">
          <i class="fas fa-home"></i>
          Anasayfa
        </LinkTo>
        <a target="_blank" rel="nofollow" href="mailto://efhmedia@outlook.com.tr" class="btn btn-dark btn-lg">
          <i class="fas fa-envelope"></i>
          Destek
        </a>
      </div>
    </div>
  </div>
</div>
