{{page-title "Hakkımda - EFHMedia"}}

<div class="container space">
  <div class="row">
    <div class="col-md-6">
        <h1 class="display-4 font-italic">Merhaba!</h1>
        <p class="lead my-3">Ben Emirhan. Istanbulda yaşıyorum. 1 yıldır javascript ile ilgileniyorum. Son 5 ayda; Swing, React, Django, Ember, Spring Boot gibi frameworkler ile  çalışmalar yaptım. Bu siteyi Ember, jQuery, Bootstrap ile yaptım.</p>
        <a href="http://github.com/efhmedia-dev" target="_blank" class="mr-2" rel="noopener noreferrer"><i class="fab fa-github fa-2x text-dark"></i></a>
        <a href="http://discord.com/users/770720728358060033" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord fa-2x text-dark"></i></a>
    </div>
    <div class="col-md-6 text-center">
      <h1 class="display-5">Yeteneklerim</h1>
      <Myskills />
    </div>
  </div>
</div>
